body{
	text-align: center;
	margin: 0px;
	padding: 0px;
	/* margin y padding para que no haya margenes en la pagina  */
	/* Fuentes */
	font-family:'Segoe UI', Roboto, Oxygen;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
	/* -webkit-font-smoothing para suavizar la fuente*/

}


#header {
	border:1px solid black;
	height:120px;
	width: 100%;
	background: white;
	border-bottom: 1px solid #ccc;
	border-top: 5px solid #f13e3e;
	/* configuracion del header */
}
.center{
	width:75%;
	margin: 0px auto;
	/* centra contenido */
}

.clearfix{
	clear: both;
	float:none;
}

#logo {
	width: 30%;
	font-size: 30px;
	float: left;
	margin-top: 35px;
	/* el float lo ubica a la izquierda */
}

#logo img {
	display: block;
	float: left;
	height: 60px;
	margin-top: -9px;
	margin-right: 10px;
	 
	animation: latir infinite 5s linear;
	/*el display block hace manejable la imagen */
}

@keyframes latir {
	0% {
		transform: scale(1, 1);
	}
	50%{
		transform: scale(1.02, 1.02);
	}
	55%{
		transform: scale(0.95, 0.95);
	}
	100% {
		transform: scale(1, 1);
	}
}


#brand {
	display: block;
	margin: 0px;
	float: left;
	/* es el titulo y con display block se hace manejable */
}
#menu {
	width: 70%;
	
	font-size: 18px;
}

#menu ul{
	line-height: 0px;
	width: 60%;
	float: right;
	margin-top: -25px;
	margin-right: -20px;
}

#menu ul li{
	display: inline-block;
	list-style: none;
	height: 46px;
	margin-left: 15px;
	

}

#menu a{
	text-decoration: none;
	color: #444;
	transition: 300ms all;
}
/* active cuando esta activo el elemento*/
#menu a:hover,
.active{
	color: #f13e3e !important;
}

.year-green{
	display: block;
	background: green;
	color: white;
	padding: 5px;
	width: 121px;
	text-align: center;
}

.year-red{
	display: block;
	background: red;
	color: white;
	padding: 5px;
	width: 121px;
	text-align: center;
}

#slider{
	
	width: 100%;
	height: 350px;
	/*line-height: 320px;*/
	color: white;
	text-shadow: 0px 0px 5px #444;

	
	/* degradado con gradient generator cssmatic.com/gradient-generator# */
	background: rgba(230,31,5,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(230,31,5,1) 0%, rgba(246,41,12,1) 0%, rgba(248,80,50,1) 0%, rgba(230,31,5,1) 71%, rgba(231,56,39,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(230,31,5,1)), color-stop(0%, rgba(246,41,12,1)), color-stop(0%, rgba(248,80,50,1)), color-stop(71%, rgba(230,31,5,1)), color-stop(100%, rgba(231,56,39,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(230,31,5,1) 0%, rgba(246,41,12,1) 0%, rgba(248,80,50,1) 0%, rgba(230,31,5,1) 71%, rgba(231,56,39,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(230,31,5,1) 0%, rgba(246,41,12,1) 0%, rgba(248,80,50,1) 0%, rgba(230,31,5,1) 71%, rgba(231,56,39,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(230,31,5,1) 0%, rgba(246,41,12,1) 0%, rgba(248,80,50,1) 0%, rgba(230,31,5,1) 71%, rgba(231,56,39,1) 100%);
	background: radial-gradient(ellipse at center, rgba(230,31,5,1) 0%, rgba(246,41,12,1) 0%, rgba(248,80,50,1) 0%, rgba(230,31,5,1) 71%, rgba(231,56,39,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e61f05', endColorstr='#e73827', GradientType=1 );


}

#slider h1{
	margin-top: 0.2px;
	padding: 0px;
	text-align: center;
	padding-top: 130px;
}

/* boton Blog*/
.btn-white{
	display: block;
	background: white;
	color:rgb(88,88,88);
	padding: 10px; /*padding del texto del boton*/
	width: 100px;
	height: 35px;
	margin: 0px auto; /*centra el boton*/
	font-size: 18px;
	text-transform: uppercase ; /*transforma a mayuscula el texto*/
	text-shadow: none; /*quita la sombra de las letras*/
	text-decoration: none;
	line-height: 35px; /*centrar letra del boton*/
	box-shadow: 0px 0px 5px rgb(88,88,88); /*sobra de boton*/
	margin-top: 40px; /*separa un poco el boton del h1*/
	border-radius: 4px; /* forma del boton*/
	transition: 300ms all;
}
.btn-white:hover{
	background: #444;
	color:white;


}

#slider.slider-small{
	height: 150px;
	/*slider del blog con el id agregado lo toma sino no se ejecutan las indicaciones
	lo mismo para el h1 de abajo*/
}

#slider.slider-small h1{
	margin-top: 0.2px;
	padding: 0px;
	text-align: center;
	padding-top: 50px;
}

#content{
	width: 70%;
	float:left;
	/* solo para ver la ubicacion sacar los comentarios de border:1px solid red;*/
	min-height: 650px;
	margin-right: 20px;
}

#sidebar{
	width: 25%;
	float:left;
	/* solo para ver la ubicacion sacar los comentarios de border:1px solid green;*/
}

.sidebar-item{
	background: #f7f7f7;
	padding: 20px;
	margin-top: 30px;
}

.sidebar-item h3{
	text-transform: uppercase;
	font-size: 18px;
	margin: 0px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 3px solid #eee;
}

.sidebar-item .btn{
	margin:0px auto;
	/* centra el boton*/
	margin-top: 10px;

}

.btn{
	display: block;
	background: black;
	color:white;
	padding: 15px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
	max-width: 120px;
	transition: 300ms all;
	border: none;
	cursor:pointer;
	text-align: center;
}

.btn-success{
	background: rgb(23,150,19);
}

.btn-success:hover{
	background: black;
}

.btn-warning{
	background: rgb(238,165,6);
	color: white !important;
	text-decoration: none;
}

.btn-danger{
	background: rgb(201,21,21);
	color: white !important;
	text-decoration: none;
}

.btn-warning:hover,
.btn-danger:hover{
	transition: all 300ms;
	opacity: 0.8;
}

.buttons{
	margin-top: 30px;
}

/* formulario */
.mid-form{
	width:50%;
	margin: 0px auto; /* centrar formulario*/
}

.mid-form label{
	display: block;
	float: left;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 17px;
}

input[type="text"],
input[type="file"],
textarea{
	width: 100%;
	min-height: 30px;
	border:1px solid #ccc;
	padding:3px;
	margin-bottom: 5px;
	transition: 300ms all;
}

.btn.up_btn.afu-attach-pin{
	display: block !important;
	width: 100% !important;
	max-width: 90% !important;
	margin-top: 15px;
}

.image-thumb img{
	width: 150px;
}

/* hover - mouse por encima
	focus - para cuando se fija en el input */

input[type="text"]:focus,
textarea:focus{
	box-shadow: 0px 0px 2px #eee inset;
}




textarea{
	width:100%;
	height: 150px;
	min-height: 150px;
	max-width: 100%;
	min-width: 100%;
	max-height: 300px;
}

.radiobuttons{
	margin-top: 10px;
	float: left;
	margin-bottom: 10px;
}

/* footer */
#footer{
	background: #f7f7f7;
	width: 100%;
	height: 70px;
	line-height: 70px;
	color: #444;
}

#footer p{
	margin: 0px;
	padding: 0px;
}

/* articulos */
.article-item{
	width: 100%;
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: left;
}

.article-item .image-wrap{
	width: 130px;
	height: 130px;
	overflow: hidden;
	float: left;
	margin-right: 15px;
	border: 1px solid #ccc;
	/* dimensiones de la caja de imagen */
}
.article-item .image-wrap img{
	height: 100%;
	text-align: center;
	/* con esto se encaja la imagen en la caja de imgaen */
}

/* titulo de articulo */
.article-item h2{
	display: block;
	width: 100%;
	padding: 0px;
	margin: 0px;
	margin-bottom: 7px;
}

/* fecha */
.article-item .date{
	display: block;
	width: 100%;
	color: rgb(122, 122, 122);
}

/* link "leer mas" */
.article-item a{
	display: block;
	color:#444;
	text-decoration: none;
	margin-top: 10px;
}
.article-item a:hover{
	text-decoration: underline;
}

.subheader{
	font-size: 38px;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}

/* pagina de articulos */

.article-detail .image-wrap{
	float:none;
	width:100%;
	height: 300px;
}

/* para que quede dentro del wrap */

.article-detail .image-wrap img{
	height: auto;
	width:100%;

	
}

.article-detail .subheader{
	margin-bottom: 0px;
	border: none;
	margin-top: 15px;
}

/*Responsive*/

/* desde el ancho de 0px hasta 1488px de pantalla*/
@media (max-width: 1488px){
	/*se ejecutan los siguientes estilos */
	.center{
		width: 85%;
	}
	
}

@media (max-width: 1122px){
	/*se ejecutan los siguientes estilos */
	.center{
		width: 95%;
	}
	
}

@media (max-width: 1005px){
	/*se ejecutan los siguientes estilos */
	#header{
		height: auto;
	}
	#logo{
		float: none;
		width: auto;
		margin: 0px auto;
		margin-top: 20px;

	}

	#menu,
	#menu ul{
		width: auto;
		clear: both;
		float: left;
		margin: 0px;
		padding: 0px;
		height: auto;
		padding-top: 10px;


	}

	#content{
		float: none;
		width: 100%;
	}

	#sidebar{
		float: none;
		width: 60%;
		margin: 0px auto;
		margin-bottom: 50px;
	}

	#slider h1{
		padding-top: 115px;
		font-size: 25px;
	}

	.mid-form{
		width: 70%;
	}
}
@media (max-width: 813px){
	#logo{
		float: none;
		
		margin: 0px auto;
		margin-top: 20px;
	}
	#menu{
		width:auto;
	}
	#brand{
	
		float: center;
	}
	#logo img{
		padding-left: 20%;
		float: center;
	}
}

@media (max-width: 497px){
	/*se ejecutan los siguientes estilos */
	#header{
		min-height: 130px;
		overflow: hidden;

	}

	#menu,
	#menu ul{
		line-height: 50px;
	}

	#menu,
	#menu ul li{
		margin-left: 7px;
		margin-right: 7px;
	}

	#slider{
		height: 180px;
	}

	#slider h1{
		font-size: 19px;
		padding-top: 30px;
	}

	#slider .btn-white{
		margin-top: 20px;
	}

	#slider .slider-small{
		height: 100px;
	}

	#slider .slider-small h1{
		padding-top: 35px;
	}
}