
<app-slider
[nombre]="'Pagina'"
></app-slider>
<div class="center">
	<section id="content">
		<h1 class="subheader">Página de pruebas</h1>
		<div *ngIf="nombre && apellido; then siHayParametros else noHayParametros"></div>
		<ng-template #siHayParametros>
			<h2>Bienvenido! {{nombre}} {{apellido}} </h2>
			<h3>Nombre: {{nombre}} </h3>
			<h3>Apellido: {{apellido}} </h3>
		</ng-template>

		<ng-template #noHayParametros>
			<h2>Bienvenido!</h2>
			<h3>No hay datos que mostrar</h3>
			<h3>No hay parametros por la URL</h3>
		</ng-template>


		<button (click)="redireccion()" >Poner nombre y apellido</button>
	</section>
	<app-sidebar></app-sidebar>
</div>